[submodule "returfs/shared-external-react"]
path = returfs/shared-external-react
url = https://github.com/returfs/shared-external-react
[submodule "returfs/shared-external-laravel"]
path = returfs/shared-external-laravel
url = https://github.com/returfs/shared-external-laravel
[submodule "returfs/skeleton-returfs-package"]
path = returfs/skeleton-returfs-package
url = https://github.com/returfs/skeleton-returfs-package
[submodule "returfs/generator-returfs-package/generators/skeleton-returfs-package"]
	path = returfs/generator-returfs-package/generators/skeleton-returfs-package
	url = https://github.com/returfs/skeleton-returfs-package
